COMPOSE_PROJECT_NAME=m_track
TZ=UTC

FRONTEND_PORT=
FRONTEND_PROD_PORT=
VITE_API_URL=http://localhost:3000
VITE_API_PREFIX=api
BACKEND_PORT=
MONGO_PORT=
MONGO_EXPRESS_PORT=
MONGO_INITDB_DATABASE=m_track
