NODE_ENV=
TZ=UTC
LOG_LEVEL=debug
PORT=3000
API_GLOBAL_PREFIX=api
MONGO_URI=
CORS_ORIGIN=
JWT_SECRET=c
JWT_EXPIRES_IN=1h
ROOT_ADMIN_USERNAME=
ROOT_ADMIN_EMAIL=
ROOT_ADMIN_PASSWORD=
ROOT_ADMIN_FIRST_NAME=
ROOT_ADMIN_LAST_NAME=
SWAGGER_ENABLED=
SWAGGER_PATH=
OPENROUTER_API_KEY=
OPENROUTER_MODEL=
OPENROUTER_BASE_URL=
OPENROUTER_APP_NAME=
OPENROUTER_APP_URL=
